body {
	margin: 0;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/header.jpg);
	background-size: cover;
	background-position: center;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#title {
	font-family: "Roboto Slab", serif;
	color: white;
	font-size: 36px;
	font-weight: normal;
	width: 780px;
	text-align: center;
}

#title-ccet {
	color: black;
}

#profile {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

#profile-picture {
	background-image: url("../images/vrk.png");
	background-size: cover;
	background-position: center;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	border: 1px solid white;
}

#profile-desc {
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	color: rgb(51, 51, 51);
	line-height: 24px;
	padding-bottom: 10px;
	border-bottom: 2px solid #e6e6e6;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#listicle-body {
	width: 66.67%;
	position: relative;
}

.body-header {
	font-family: "Roboto Slab", serif;
	font-size: 36px;
	font-weight: bold;
	color: rgb(51, 51, 51);
}

.paragraph-break {
	height: 20px;
}

.body-number-container {
	position: absolute;
	right: 100%;
}

.body-number {
	position: absolute;
	right: 40px;
	font-family: "Roboto Slab", serif;
	font-size: 36px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.25);
}

.body-text {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	line-height: 32px;
	color: rgb(51, 51, 51);
	margin: 0px;
}

.body {
	padding: 60px 0px;
}

a {
	color: #42b4d6;
	text-decoration: none;
	font-weight: normal;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}